<script type="text/javascript">
  <% if logged_in? %>
    window.currentAccount = <%= render("api/account/account.json.jbuilder",
      account: current_account).html_safe %>
  <% end %>
</script>

<div id='root'></div>